.auth {
  height: fit-content;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.auth > div {
  height: 100vh;
  width: 50%;
}

.auth-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.auth-left .auth-txt {
  width: 300px;
  margin-top: 30px;
  text-align: center;
}

.auth-txt h1 {
  font-weight: 500;
  font-size: 1.5rem;
}

.auth-txt p {
  font-size: 0.85rem;
  color: grey;
}

.auth-left .auth-btn {
  height: 50px;
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 15px;
  background-color: rgb(238, 238, 238);
}

.auth-left .auth-btn > div {
  height: 90%;
  cursor: pointer;
  width: 48%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 0.9rem;
  background-color: rgb(238, 238, 238);
  color: black;
}

.auth .auth-left .auth-btn-active {
  background-color: #fff;
  color: black;
}

.auth-left form {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 30vw;
}

.auth-input {
  height: 48px;
  width: 100%;
  border: 1px solid rgba(128, 128, 128, 0.281);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 5px;
}

.auth-input > div {
  width: 18%;
  height: 100%;
  border-radius: 15px;
}

.auth-input > input {
  height: 80%;
  width: 80%;
  padding-left: 15px;
  border: none;
  outline: none;
  border-left: 1px solid rgba(128, 128, 128, 0.281);
}

.auth .auth-left .auth-icon {
  display: grid;
  font-size: 1.2rem;
  place-items: center;
}

.auth-left form button {
  height: 48px;
  width: 98%;
  border-radius: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1rem;
  text-transform: capitalize;
  color: white;
  background-color: rgb(0, 89, 255);
}

.auth-left form button:hover {
  background-color: rgba(0, 89, 255, 0.801);
}

.auth-right {
 background-color: rgb(0, 0, 0);
 position: relative;
 overflow: hidden;
 display: grid;
 place-content: center;
 text-align: center;
}

.auth-right h1{
  margin-top: 20px;
  color: white;
  font-size: 7rem;
}

.auth-left .auth-divider {
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 30vw;
}

.auth-left .auth-divider p {
  margin: 0px 10px;
  font-size: 0.9rem;
  color: grey;
  text-transform: capitalize;
}

.auth-left .auth-divider hr {
  height: 1px;
  flex: 1;
  color: grey;
}

.auth .auth-icon-container {
  display: flex;
  font-size: 2rem;
  justify-content: center;
  align-items: center;
  gap: 30px;
  cursor: pointer;
  color: rgb(36, 36, 36);
}

.auth .auth-left .auth-desc {
  width: 30vw;
  color: grey;
  text-align: center;
}

@media (max-width: 800px) {
  .auth .auth-right {
    display: none;
  }

  .auth > .auth-left {
    width: 100%;
    height: 100%;
    padding: 30px 0px;
  }

  .auth .auth-left > div {
    width: 80%;
  }

  .auth .auth-left button {
    width: 100%;
  }
  .auth .auth-left form {
    width: 80%;
  }

  .auth .auth-left .auth-desc {
    width: 80%;
  }
}
