@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Comfortaa:wght@300..700&family=Dancing+Script:wght@400..700&family=Smooch+Sans:wght@100..900&display=swap');
*{
  padding: 0px;
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, sans-serif;
  scroll-behavior: smooth;
}

*::selection{
  background-color: rgba(255, 255, 255, 0.3);
  color: rgb(0, 0, 0);
}


body{
  height: 100vh;
  overflow-x: hidden;
  width: 100vw;
}

.blue{
   color: rgb(0, 128, 255);
}

li{
  list-style: none;
}

.sm{
  font-size: smaller;
}

.expand{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

