.home {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.home .example{
  width: 90%;
  height: fit-content;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.home .example-card{
  height: 160px;
  width: 250px;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: black;
  cursor: pointer;
  background-color: #ffffff5e;
  transition: transform 0.2s ease-in-out;
}

.home .example-card:hover{
  transform: scale(1.05);
}

.home .example-card button{
  font-size: 1.5rem;
  padding: 2px 5px;
  border-radius: 8px;
  border: 1px solid white;
}

.home .example-card .query-box{
  padding: 2px;
  font-size: 0.8rem;
  font-weight: 500
}

.home .example-card .description-box{
  font-size: 0.7rem;
  color: rgba(0, 0, 0, 0.774);
}

.home .example-card h3{
  font-size: 0.9rem;
}

.home .home-section .home-row .home-box .ri-star-fill{
  color: rgba(255, 255, 255, 0.226);
  position: absolute;
  top:5%;
  font-size: 1.5rem;
  cursor: pointer;
  right: 5%;
}

.home .home-section .home-row .home-box .goldenStar{
  color: goldenrod;
}

.home .home-section .home-row .home-box h3{
  color: rgb(0, 85, 212);
  width: 90%;
}

.home-container {
  height: fit-content;
  width: 80%;
  margin: 100px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.home-container .home-upper {
  text-align: center;
  width: 100%;
}

.home-container .home-upper h1 {
  font-size: 4.5rem;
  line-height: 5rem;
  font-weight: 400;
  color: white;
  letter-spacing: 0.1rem;
}

.home-container .home-bottom {
  width: 550px;
  height: 70px;
  border-radius: 10px;
  padding: 10px 30px;
  backdrop-filter:blur(10px);
  background-color: rgba(255, 255, 255, 0.103);
  border-bottom: 1px solid rgba(255, 255, 255, 0.562);
  border-right: 1px solid rgba(255, 255, 255, 0.356);
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr;


}

.home-container .home-bottom input {
  height: 70%;
  background-color: transparent;
  padding-left: 20px;
  color: white;
  border: none;
  outline: none;
  border-right: 1px solid white;
}

.home-container .home-bottom .home-bottom-button {
  height: 70%;
  display: grid;
  margin-left: 20px;
  place-items: center;
}

.home-container .home-bottom .home-bottom-button button{
  width: 85%;
  font-size: 0.8rem;
  height: 40px;
  border-radius: 10px;
  font-weight: 900;
  border: 1px solid white;
  text-align: center;
  cursor: pointer;
}



.home .home-container > p {
  width: 50vw;
  color: white;
  line-height: 2rem;
  text-align: center;
}



.loader {
  width: 40px;
  aspect-ratio: 1;
  display: grid;
}
.loader::before,
.loader::after {    
  content:"";
  grid-area: 1/1;
  --c:no-repeat radial-gradient(farthest-side,#ffffff 92%,#0000);
  background: 
    var(--c) 50%  0, 
    var(--c) 50%  100%, 
    var(--c) 100% 50%, 
    var(--c) 0    50%;
  background-size: 9px 9px;
  animation: l12 1s infinite;
}
.loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 5px 5px;
  animation-timing-function: linear
}

@keyframes l12 { 
  100%{transform: rotate(.5turn)}
}

.home .home-section{
  display: flex;
  height: fit-content;
  width: 800px;
  margin: 30px auto;
  flex-direction: column;
  gap: 10px;
}

.home .highlight{
  color:rgb(0, 85, 212);
}

.home .home-section h4{
  color: white;
  font-weight: 500;
}

.home .home-section p{
  color: white;
}

.home .home-row{
  width: 500px;
  height: fit-content;
  display: flex;
  color: white;
  flex-wrap: wrap;
  align-items: center;
  gap: 50px;
}

.home .row{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
  width: 800px;
  color: white;
}

.home .home-box{
  background-color: rgba(0, 0, 0, 0.288);
  padding: 30px;
  width: 700px;
  min-height: 300px;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  color: white;
  position: relative;
  gap: 10px;
  border-radius: 30px;
}

.home .home-git-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  color: white;
}

.home .git-card{
  width: 350px;
  height: fit-content;
  display: flex;
  background-color: rgba(0, 0, 0, 0.164);
  flex-direction: column;
  gap: 8px;
  padding: 10px;
}

.home .git-card .card-head{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home .git-card .card-bottom{
  display: flex;
  color: white;
  align-items: center;
  gap: 15px;
}

.home-config{
  width: 600px;
  height:150px;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column-reverse;
  gap:30px;
}

.home-config-select{
  color: white;
  height: 40px;
  width: 200px;
  background-color: #0000006a;
  outline:none;
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.home-config-inputs{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.home-config-inputs > div{
  display: flex;
  align-items:center;
  justify-items: center;
  gap: 10px;
  color: white;
}



@media (max-width:800px) {
  .home .home-container h1{
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
 .home-container .home-bottom {
  width: 80vw;
  height: 50px;

}


 .home .home-section{
  width: 95vw;
 }

 .home .row{
  width:95vw;
 }

 .home .home-section .home-row{
  width:100%;
 }

 .home .home-container > p {
  width: 90vw;
}

.home .home-config{
  width: 90vw;
}

.home-config-inputs{
  font-size: smaller;
}



}