
.chat {
padding-top:60px ;
  display: flex;
  min-height: 90vh;
}


.sidebar {
  width: 260px;
 color: white;
  border-right: 1px solid #e5e7eb17;
  padding: 16px;
}

.sidebar h3 {
  margin-bottom: 12px;
  font-size: 16px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  padding: 10px 12px;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 6px;
}

.sidebar li:hover {
  background: #f1f5f9;
  color: rgb(0, 85, 212);
}

.sidebar li.active {
  background: #e0f2fe;
  font-weight: 500;
  color: rgb(0, 85, 212);

}

/* Main chat area */
.chat-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Messages */
.messages {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.message {
  max-width: 60%;
  overflow-wrap: break-word;
  word-wrap: break-word;
   white-space: pre-wrap;
  padding: 10px 14px;
  margin-bottom: 10px;
  border-radius: 12px;
  font-size: 14px;
  line-height: 25px;
}

.message.sent {
  margin-left: auto;
  background: #2563eb;
  width: fit-content;
  color: white;
  border-bottom-right-radius: 4px;
}

.message.received {
  background: #e5e7eb;
  width: fit-content;
  color: #111827;
  border-bottom-left-radius: 4px;
}

/* Input box */
.input-box {
  display: flex;
  gap: 10px;
  align-items: center;
  padding: 12px;
  border-top: 1px solid #e5e7eb24;
}

.input-box input {
  flex: 1;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #d1d5db;
  outline: none;
}

.input-box input:focus {
  border-color: #2563eb;
}

.input-box button {
  padding: 10px 16px;
  border-radius: 8px;
  border: none;
  background: #2563eb;
  color: white;
  cursor: pointer;
}

.input-box button:hover {
  background: #1d4ed8;
}

.sidebar-header{
    display: flex;
    width:100%;
    align-items: center;
    justify-content: space-between;
}

.sidebar-header h3{
    height:100%;
}

.icon{
    color: white;
    visibility: hidden;
}

@media (max-width: 768px) {
  .chat {
    height: calc(100vh - 110px);
  }

  .sidebar {
    position: fixed;
    left: -100%;
    top: 55px; 
    height: 100%;
    width: 80%;
    max-width: 300px;
    z-index: 20;
    transition: left 0.3s ease;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.1);
  }

  .sidebar.open {
    left: 0;
    background: #000000f8;
  }

  .icon{
    visibility: visible;
  }

  .chat-main {
    width: 100%;
  }

  .messages {
    padding: 14px;
  }

  .message {
    max-width: 85%;
    font-size: 13px;
  }

  .input-box {
    position: sticky;
    bottom: 0;
  }
}

