.navbar {
  min-height: 55px;
  width: 95vw;
  position: fixed;
  top: 0%;
  display: grid;
  grid-template-columns: 0.25fr 1.75fr;
  z-index: 100;
  backdrop-filter:blur(10px);
}



/*navbar logo*/
.navbar .nav-logo {
  text-decoration: none;
  padding: 0px 20px;
  display: grid;
  place-items: center;
  height: 100%;
}
.navbar .ri-planet-fill {
  font-size: 2rem;
  color: black;
  transition: transform 0.5s linear;
}

.navbar .ri-planet-fill:hover {
transform: rotate(180deg);
}

.navbar .nav-logo .nav-icon {
  display: grid;
  width: 40px;
  background-color: white;
  place-items: center;
  height: 40px;
  border-radius: 50%;
}

/*navbar links for destop view*/
.navbar .nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  gap: 20px;
  padding: 0px 20px;
}

.navbar .nav-links a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.596);
  font-weight: 500;
  font-size: 0.8rem;
}

.navbar .nav-links a:hover {
    color: white;
  }

.navbar .nav-links button {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.37);
  padding: 5px 10px;
  border-radius: 5px;
  color: rgba(255, 255, 255, 0.596);
  font-weight: 500;
  font-size: 0.8rem;
  cursor: pointer;

  transition: transform 0.2s ease-in-out, border-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.navbar .nav-links button:hover {
    border-color: white;
    transform: scale(1.05);
    color: white;
  }

.navbar .nav-btn {
  display: none;
}

.nav-links-mobile {
  display: none;
}

.nav-links-mobile-hide {
  display: none;
}

@media (max-width: 768px) {
  .navbar {
    width: 100vw;
    border: none;
    backdrop-filter: blur(0px);
    background-color:rgba(0, 0, 0, 0.801);
  }

  .navbar .nav-links {
    display: none;
  }

  .navbar .nav-links-mobile {
     background-color:rgba(0, 0, 0, 0.801);
    display: flex;
    flex-direction: column;
    position: absolute;
    /* backdrop-filter:blur(10px); */
    top: 54.5px;
    left: 0px;
    width: 100%;
    z-index: 99;
    padding: 20px 0px 20px 12px;
    gap: 30px;
  }

  .navbar .nav-btn {
    display: flex;
    color: white;
    justify-content: flex-end;
    padding: 0px 20px;
    align-items: center;
  }

  .nav-links-mobile button {
    width: 95%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid white;
    cursor: pointer;

    
  }

    .nav-links-mobile button:hover {
      background-color: black;
      color: rgba(255, 255, 255, 0.603);
    }


  .nav-links-mobile a {
    color: rgba(255, 255, 255, 0.603);
    text-decoration: none;
    font-size: 0.8rem;
  } 
  .nav-links-mobile a:hover {
      color: white;
    }

  .nav-btn > button {
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.37);
    color: rgba(255, 255, 255, 0.596);
    cursor: pointer;
    
  }

  .nav-btn>button&:hover {
      border-color: white;
      color: white;
    }

  nav-links-mobile-hide{
    background-color: red;
  }
}



.navbar .nav-active-link a{
  color: white ;
}
